body{
	background: url(../images/bg1.jpg) no-repeat;
	background-size: 100% 800px;
	position: relative;
	height: 800px;
	padding-top: 20px;
}
header img{
	position: absolute;
	right: 150px;
	top: 150px;
	border-radius: 50%;
	box-shadow:0px 0px 10px 10px #bc2e22;
}
header ul{
	width: 90%;
	display: flex;
	justify-content: space-around;
	margin: 20px auto;
}
header ul li{
	width: 9.7%;
}
header ul li a{
	color: #fff;
	display: block;
	background-color: rgba(0,0,0,0.4);
	border: 1px solid gray;
	text-align: center;
	line-height: 45px;
	font-size: 14px;
	border-radius: 5px;
}
header ul li a:hover{
	color: #bc2e22;
	background-color: rgba(0,0,0,0.6);
}
main .text{
	width: 45%;
	padding: 20px;
}
main h1{
	color: black;
	line-height: 83px;
	text-align: center;
	font-size: 45px;
	
}
main .text p{
	color: lightyellow;
	font-size: 20px;
	line-height: 30px;
	text-indent: 2em;
}
main .ping{
	width: 60%;
	text-indent: 2em;
	font-size: 16px;
	line-height: 35px;
	padding: 20px;
}
main .ping .p2{
	color:black;
	font-family: "微软雅黑";
	font-size: 20px;
}
main .ping .p3{
	color: black;
	font-family: "微软雅黑";
	font-size: 20px;
}
main .p1{
	float:right;
	margin-right: 100px;
	margin-top: 100px;
	font-size: 30px;
	font-family: "楷体";

}
a.h1{
	color: #41cfb3;
}
main p span{
	display: block;
	margin-left:340px;
}
.a{
	font-size: 20px;
	color:red ;
	font-weight: bold;
}