body{
	background: url(../images/bg06.jpeg);
	background-size: 100%;
	background-repeat: no-repeat;
}
content{
	float: left;
	width: 550px;
}
content h1{
	line-height: 60px;
	margin-top: 26px;
	padding-left: 140px;
	color: rgb(182, 235, 48);
	font-size: 50px;
	
}
content h4{
	line-height: 50px;
	font-size: 20px;
	color: #0a73e4;
}
content p{
	line-height: 28px;
	font-size: 20px;
	text-indent: 2em;
	background-color: #e6e6e6;
	color: #222;
	padding: 10px;
	border-radius: 10px;
	font-weight: bold;
}
main .p1{
	width: 500px;
	margin: 10px auto;
}
main{
	height: auto;
}
.a{
	font-size: 20px;
	color:rgb(42, 45, 230) ;
	font-weight: bold;
}
.indexbg1{
	width: 641px;
	height: 351px;
	background: url(../images/indelbg1-1.jpg);
	float: right;
	margin-top: 76px;
}
.indexbg2{
	width: 830px;
	height: 400px;
	float: right;
	margin-top: 53px;
	margin-right: 10px;
	font-size: 25px;
	font-family: "楷体";
}
.indexbg3{
	width: 641px;
	   height: 361px;
	   background: url(../images/indexbg02.png);
	   margin-left: 185px;
	   margin-top: -185px;

}
.indexbg4{
	width: 581px;
	/* 835  l 600*/
	float: right;
	margin-left: 850px;
	margin-top: -328px;
	font-size: 25px;
	font-family: "楷体";
}
a.two{
	color: aqua;
}
